@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600,700,800,900");

body {
  width: 100%;
  background-color: #00bf0d;
  background-image: url(/img/groceries-background-pattern.svg);
  background-attachment: fixed;
  background-position: center;
  background-size: 10%;
  font-family: "Work Sans", sans-serif;
}

.input-field {
  margin-top: 0;
}

.back-btn, #save-list {
  width: 100%;
}

.card-header-text {
  font-weight: 900;
  color: #00bf0d !important;
}

#main-nav {
  background-color: #007f09;
}

h1,
.name-header {
  font-weight: 900;
  text-shadow: 1px 1px 1px #007f09;
  font-size: 80px;
}

h4 {
  font-weight: 900;
}

.recipe-card {
  min-height: 115px;
}

.card-image {
  background-color: #00BF0D;
  border-radius: 10px 0px 0px 10px;

}

a.brand-logo {
  margin-left: 20px;
}

.home-card {
  background-color: transparent;
  border-radius: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

footer.page-footer {
  background-color: #007f09;
}

.btn {
  font-weight: 900;
  font-weight: bolder;
  font-size: 110%;
  background-color: #007f09;
  border-radius: 10px;
  color: white;
  -webkit-box-shadow: inset -1px 0px 0px rgb(1, 148, 11), 0px 5px 0px 0px rgb(1, 148, 11), 0px 7px 5px #007f09;
  -moz-box-shadow: inset -1px 0px 0px rgb(1, 148, 11), 0px 5px 0px 0px rgb(1, 148, 11), 0px 7px 5px #007f09;
  box-shadow: inset -1px 0px 0px rgb(1, 148, 11), 0px 5px 0px 0px rgb(1, 148, 11), 0px 7px 5px #007f09, 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #00bf0d;
  -webkit-box-shadow: inset 0px 1px 0px rgb(1, 148, 11), 0px 5px 0px 0px rgb(1, 148, 11), 0px 5px 5px #007f09;
  -moz-box-shadow: inset 0px 1px 0px rgb(1, 148, 11), 0px 5px 0px 0px rgb(1, 148, 11), 0px 5px 5px #007f09;
  box-shadow: inset 0px 1px 0px rgb(1, 148, 11), 0px 5px 0px 0px rgb(1, 148, 11), 0px 5px 5px #007f09;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  transform: scale(0.99);
}

.rounded {
  border-radius: 10px;
}

.btn-row {
  margin-bottom: 100px;
}

.animate-down {
  animation: fadeInDown-radium-animation-97401d6b 1s ease 0s 1 normal none running;
}

.animate-up {
  animation: fadeInUp-radium-animation-97401d6b 1s ease 0s 1 normal none running;
}

.animate-up-2 {
  animation: fadeInUp-radium-animation-97401d6b 1.25s ease 0s 1 normal none running;
}

.animate-up-3 {
  animation: fadeInUp-radium-animation-97401d6b 1.5s ease 0s 1 normal none running;
}

.animate-up-4 {
  animation: fadeInUp-radium-animation-97401d6b 1.75s ease 0s 1 normal none running;
}

.animate-up-5 {
  animation: fadeInUp-radium-animation-97401d6b 2s ease 0s 1 normal none running;
}

.animate-up-6 {
  animation: fadeInUp-radium-animation-97401d6b 2.25s ease 0s 1 normal none running;
}

@keyframes fadeInUp-radium-animation-97401d6b {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown-radium-animation-97401d6b {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.home-btn {
  height: 200px;
  margin-bottom: 20px;
  width: 100%;
}

.list-card {
  min-height: 110px;
}

.landing-btn {
  height: 230px;
  margin-bottom: 20px;
  width: 70%;
}

.signin-btn,
.signup-btn,
.recipe-btn {
  width: 100%;
  min-height: 50px;
}

#new-list-btn {
  width: 100%;
  min-height: 50px;
}

#home-logo,
.fade-in {
  -webkit-animation: fadein 1.5s forwards;
  -moz-animation: fadein 1.5s forwards;
  -ms-animation: fadein 1.5s forwards;
  -o-animation: fadein 1.5s forwards;
  animation: fadein 1.5s forwards;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  color: #00bf0d;
}

#home-list,
#home-pantry,
#home-waste,
#home-recipes,
#home-logout,
#home-account,
#home-login,
#home-signup,
#signup-form,
#home-learn,
#signin-form,
#what-card,
#why-card,
#dev-card,
#account-form,
#my-lists,
#new-list {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#signup-form, #account-form {
  padding-top: 10px;
}

#home-list,
#my-lists {
  background-image: url("/img/baseline-list-24px.svg");
}

#home-pantry {
  background-image: url("/img/baseline-kitchen-24px.svg");
}

#home-waste {
  background-image: url("/img/baseline-pie_chart-24px.svg");
}

#home-recipes {
  background-image: url("/img/baseline-find_in_page-24px.svg");
}

#home-logout {
  background-image: url("/img/baseline-exit_to_app-24px.svg");
}

#home-account,
#home-login {
  background-image: url("/img/baseline-account_circle-24px.svg");
}

#home-signup {
  background-image: url("/img/baseline-create-24px.svg");
}

#new-list {
  background-image: url("/img/baseline-add_shopping_cart-24px.svg");
}

#signup-form,
#signin-form,
#account-form {
  background-image: url("/img/baseline-account_circle-24px-green.svg");
}

#home-learn {
  background-image: url("/img/baseline-restaurant-24px.svg");
}

#what-card {
  border-radius: 10px;
  background-image: url("/img/question-mark.svg");
  min-height: 410px;
}

#why-card {
  border-radius: 10px;
  background-image: url("/img/exclamation-point.svg");
  min-height: 410px;
}

#dev-card {
  border-radius: 10px;
  background-image: url("/img/developers.svg");
  min-height: 410px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* // FORM STYLES ----------------------------------------------- */

::-webkit-input-placeholder {
  color: #007f09;
  opacity: 1 !important;
}

.input-field label {
  color: #000 !important;
}

.input-field input:focus+label {
  color: #007f09 !important;
}

.input-field input:focus {
  border-bottom: 1px solid #007f09 !important;
  box-shadow: 0 1px 0 0 #007f09 !important;
}

.input-field input.valid {
  border-bottom: 1px solid #007f09 !important;
  box-shadow: 0 1px 0 0 #007f09 !important;
}

.input-field input.invalid {
  border-bottom: 1px solid #007f09 !important;
  box-shadow: 0 1px 0 0 #007f09 !important;
}

.input-field .prefix.active {
  color: #007f09 !important;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #007f09 !important;
}

input[type="range"]::-moz-range-thumb {
  background-color: #007f09 !important;
}

input[type="range"]::-ms-thumb {
  background-color: #007f09 !important;
}

/***** These are to edit the thumb and the text inside the thumb *****/
input[type="range"]+.thumb {
  background-color: #dedede;
}

input[type="range"]+.thumb.active .value {
  color: #007f09 !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
  background-color: #007f09 !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
  border: 2px solid #007f09 !important;
}